@model EasyWayGroceries.Models.ProductsModel;
    <head>
        <link href="~/css/ProductDetailsStyle.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<div id="header_div">
</div>
<div id="ContainerDiv">
    <div id="leftDiv">
        <img id="ProductImage" src="@Url.Content(Model.ImagePath)" />

    </div>
    <div id="rightDiv">

        <label id="ProductName" data-toggle="modal">@Model.ProductName</label><br />
        <div id="PriceUnitDiv">
            <label id="Price">$@Model.Price per</label>
            <label id="Unit"> @Model.Unit</label><br />
        </div>
        <label id="Desc">Description: @Model.Description</label><br />
        <span id="QuantityError" style="display: none"></span>
        <input class="form-control" type="number" name="quantity" id="Quantity" min="1" max="50" placeholder="Add Quantity" onkeyup="EditButton()"/>
        <button type="button" class="btn btn-info form-control" id="AddCart" name="AddCart" onclick="AddItemToCart()">
         Add to Cart</button>
        <button type="button" class="btn btn-info form-control" id="GoBack" name="GoBack" onclick="GoBack()"> << Go Back To List</button>
    </div>
</div>
<script>
    function AddItemToCart() {
        
        var Quantity = document.getElementById("Quantity");
        var ErrorSpan = document.getElementById("QuantityError");
        var AddCart = document.getElementById("AddCart");
        if (Quantity.value == "") {
            Quantity.focus();
            ErrorSpan.style.display = "block";
            ErrorSpan.innerHTML = "Please enter Quantity!";
        }
        else if (parseInt(Quantity.value) < 0) {
            Quantity.focus();
            ErrorSpan.style.display = "block";
            ErrorSpan.innerHTML = "Quantity cannot be Negative!";
        }
        else {
            ErrorSpan.style.display = "none";
            var data = { ProductId: @Model.ProductId, Quantity: $("#Quantity").val() };
            $.ajax({
                type: 'post',
                data: data,
                dataType: "json",
                url: "/Dashboard/AddToCart",
                success: function (result) {
                    if (result == "Success") {
                        var text = $("#Quantity").val() + " " + $("#Unit").text() + " in cart";
                        AddCart.innerText = text;
                    }

                }
            });
        }
    }
    function GoBack() {
        window.history.back();
    }
    function EditButton() {
        AddCart.innerText = "Add to Cart";
    }
</script>